---
export interface Props {
	title: string;
}

const { title } = Astro.props;

export function tere() {
	document.getElementById('');
}

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<slot name="head" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		height: 100%;
		font-family: system-ui, sans-serif;
	}

	body {
		height: 100%;
		margin: 0;
	}
</style>
